<div data-am-widget="gotop" class="am-gotop am-gotop-fixed" >
    <a href="#top" title="回到顶部">
        <span class="am-gotop-title">回到顶部</span>
          <i class="am-gotop-icon am-icon-chevron-up"></i>
    </a>
</div>
<footer class="blog-footer">   
<div class="blog-text-center">© 2018</div>
</footer>
<script th:src="${#httpServletRequest.getContextPath() + '/amazeui/js/jquery.min.js'}"></script>
<script th:src="${#httpServletRequest.getContextPath() + '/amazeui/js/amazeui.min.js'}"></script>

