<!-- head -->
<div th:include="@{~/include/head}"></div>

<body id="blog">
<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed blog-content">
    <div class="am-u-sm-12">
      <article th:if="${result}" class="am-article blog-article-p">
        <div class="am-article-hd">
          <h1 class="am-article-title blog-text-center" th:text="${result.title}"></h1>
          <p class="am-article-meta blog-text-center">
              <span><a href="javascript:void()" th:text="${result.date}"></a></span>
          </p>
        </div>        
        <div class="am-article-bd">      
        <p class="am-article-lead" th:text="${result.content}"></p>
        </div>
      </article>
        <hr>
    </div>
</div>
<!-- content end -->

<!-- footer -->
<div th:include="@{~/include/footer}"></div>
</body>
</html>