<!-- head -->
<div th:include="@{include/head}"></div>
<body id="blog">
	<header class="am-g am-g-fixed blog-fixed blog-text-center blog-header">
		<div class="am-u-sm-8 am-u-sm-centered">
			<h2 class="am-hide-sm-only">Live</h2>
		</div>
	</header>
	<hr>
	<nav class="am-g am-g-fixed blog-fixed blog-nav">
		<div class="am-collapse am-topbar-collapse" id="blog-collapse">
			<ul class="am-nav am-nav-pills am-topbar-nav">
				<li class="am-active"><a href="#">首页</a></li>
				<li><a href="#">快讯</a></li>
				<li><a href="#">新闻</a></li>
			</ul>
			<form class="am-topbar-form am-topbar-right am-form-inline" role="search">
		      <div class="am-form-group">
		        <input type="text" class="am-form-field am-input-sm" placeholder="搜索">
		      </div>
		    </form>
		</div>
	</nav>
	<hr>
	<!-- content srart -->
	<div class="am-g am-g-fixed blog-fixed">
		<div class="am-u-md-8 am-u-sm-12">
			<div id="news-content"></div>
			<ul class="am-pagination">
				<input type="hidden" id="hidPage" value="0" />
				<input type="hidden" id="hidSize" value="10" />
				<li class="am-pagination-prev"><a id="prev"
					href="javascript:void()">&laquo; Prev</a></li>
				<li class="am-pagination-next"><a id="next"
					href="javascript:void()">Next &raquo;</a></li>
			</ul>
		</div>
		<div class="am-u-md-4 am-u-sm-12 blog-sidebar">
			<div class="blog-clear-margin blog-sidebar-widget blog-bor am-g ">
	            <h2 class="blog-title"><span>热门标签</span></h2>
	            <div class="am-u-sm-12 blog-clear-padding">
		            <a href="" class="blog-tag">区块链</a>
		            <a href="" class="blog-tag">加密币</a>
		            <a href="" class="blog-tag">快讯</a>
		            <a href="" class="blog-tag">新闻</a>
	            </div>
	        </div>
			<div class="blog-sidebar-widget blog-bor">
	            <h2 class="blog-title"><span>快讯</span></h2>
            	<ul class="am-list" id="lives-content">
	                <li><a href="#">每个人都有一个死角， 自己走不出来，别人也闯不进去。</a></li>
	                <li><a href="#">我把最深沉的秘密放在那里。</a></li>
	                <li><a href="#">你不懂我，我不怪你。</a></li>
	                <li><a href="#">每个人都有一道伤口， 或深或浅，盖上布，以为不存在。</a></li>
	            </ul>
	        </div>
	        <div class="blog-sidebar-widget blog-bor">
	            <h2 class="blog-text-center blog-title"><span>关注我们</span></h2>
	            <p>
	                <a href=""><span class="am-icon-qq am-icon-fw am-primary blog-icon"></span></a>
	                <a href=""><span class="am-icon-github am-icon-fw blog-icon"></span></a>
	                <a href=""><span class="am-icon-weibo am-icon-fw blog-icon"></span></a>
	                <a href=""><span class="am-icon-reddit am-icon-fw blog-icon"></span></a>
	                <a href=""><span class="am-icon-weixin am-icon-fw blog-icon"></span></a>
	            </p>
	        </div>
	    </div>
	</div>
	<!-- footer -->
	<div th:include="@{include/footer}"></div>
	<script th:src="@{index/index.js}"></script>
</body>
</html>